In [1]:
#if 1
a=int(input("a="))
if a>0:
    print(a+1)

a=56
57

In [3]:
#if 2
a=int(input("a="))
if a>0:
    print(a+1)
else:
    print(a-2)

a=-90
-92

In [4]:
#if 3
a=int(input("a="))
if a>0:
    print(a+1)
elif a<0:
    print(a-2)
else:
    print(10)

a=23
24

In [1]:
#if 4

a=int(input("a="))
b=int(input("b="))
c=int(input("c="))

S=0

if a>0:
    S = S+1
if b>0:
    S = S+1
if c>0:
    S = S+1
print(S)

a=2
b=3
c=4
3

In [3]:
#if 5

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

S = 0

if a>0:
    S = S+1
if b>0:
    S = S+1
if c>0:
    S = S+1
print("musbat sonlar", S, "ta manfiylar esa ",3-S, "ta")

a = 2
b = 3
c = -3
musbat sonlar 2 ta manfiylar esa  1 ta

In [5]:
#if 6

a = int(input("a = "))
b = int(input("b = "))

if a>b:
    print(a)
else:
    print(b)

a = 3
b = 4
4

In [6]:
#if 7

a = int(input("a = "))
b = int(input("b = "))

if a>b:
    print(b)
else:
    print(a)

a = 6
b = 9
6

In [8]:
#if 8

a = int(input("a = "))
b = int(input("b = "))

if a>b:
    print(a)
    print(b)
else:
    print(b)
    print(a)

a = 3
b = 6
6
3

In [27]:
#if 9

A = int(input("A = "))
B = int(input("B = "))

if A<B:
    A = A+B
    B = A-B
    A = A-B
print(A,B)

A = 6
B = 9
9 6

In [28]:
#if 10

A = int(input("A = "))
B = int(input("B = "))

if A!=B:
    A = A+B
    B = A+B
if A==B:
    A = 0
    B = 0
print(A,B)

A = 3
B = 4
7 11

In [33]:
#if 11 xato

A = int(input("A = "))
B = int(input("B = "))

if A!=B and A>B:
    A = A
    B = A
if A!=B and A<B:
    A = B
    B = B
if A==B:
    A = 0
    B = 0
print(A,B)

A = 8
B = 90
0 0

# if 12

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if a>b and c>b:
    print(b)
if b>a and c>a:
    print(a)
if a>c and b>c:
    print(c)

In [10]:
#if 13

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if a>b>c or  c>b>a:
    print(b)
if b>a>c or c>a>b:
    print(a)
if a>c>b or b>c>a:
    print(c)

a = 32
b = 34
c = 2
32

In [12]:
#if 14 xato qayta

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if a>b>c:
    print(a)
    print(c)
if b>a>c:
    print(b)
    print(c)
if c>b>a:
    print(c)
    print(a)

a = 78
b = 56
c = 90

In [13]:
#if 15 

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if a>c and b>c:
    print(a,b)
if b>a and c>a:
    print(b,c)
if c>b and a>b:
    print(c,a)

a = 2
b = 5
c = 65
5 65

In [15]:
#if 16 

A = int(input("A = "))
B = int(input("B = "))
C = int(input("C = "))

if A<B<C:
    A = A*2
    B = B*2
    C = C*2
else:
    A = -A
    B = -B
    C = -C
print(A,B,C)

A = 2
B = 3
C = 4
4 6 8

In [17]:
#if 17

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if a<b<c or a>b>c:
    a = a*2
    b = b*2
    c = c*2
else:
    a = -a
    b = -b
    c = -c
print(a,b,c)

a = 4
b = 3
c = 5
-4 -3 -5

In [19]:
#if 18

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if a==b:
    print(3)
if b==c:
    print(1)
if a==c:
    print(2)

a = 22
b = 22
c = 1
3

In [23]:
#if 19

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))
d = int(input("d = "))

if a == b == c:
    print(4)
if a == b == d:
    print(3)
if a == c == d:
    print(2)
if b == c == d:
    print(1)

a = 2
b = 3
c = 3
d = 3
1

In [25]:
#if 20

a = int(input("a = "))
b = int(input("b = "))
c = int(input("c = "))

if abs(a-b)>abs(a-c):
    print(c)
else:
    print(b)

a = 7
b = 4
c = 3
4

In [3]:
#if 21

x = int(input("x = "))
y = int(input("y = "))

if x==0 and y==0:
    print(0)
if x!=0 and y==0:
    print(1)
if x==0 and y!=0:
    print(2)
if x!=0 and y!=0:
    print(3)

x = 2
y = 3
3

In [4]:
#if 22

x = int(input("x = "))
y = int(input("y = "))

if x>0 and y>0:
    print(1)
if x<0 and y>0:
    print(2)
if x<0 and y<0:
    print(3)
if x>0 and y<0:
    print(4)

x = 2
y = -4
4

In [8]:
#if 23

x1 = int(input("x1 = "))
y1 = int(input("y1 = "))
x2 = int(input("x2 = "))
y2 = int(input("y2 = "))
x3 = int(input("x3 = "))
y3 = int(input("y3 = "))

if x2==x3:
    x4 = x1
if x1==x2:
    x4 = x3
if x1==x3:
    x4 = x2
if y1==y2:
    y4 = y3
if y2==y3:
    y4 = y1
if y1==y3:
    y4==y2
print(x4,y4)

x1 = 2
y1 = 2
x2 = 3
y2 = 2
x3 = 3
y3 = 7
2 2

In [4]:
#if 24 
from math import*
x = int(input("x = "))

if x>0:
    print(2*sin(x))
if x<=0:
    print(x-6)

x = 3
0.2822400161197344

In [7]:
#if 25

x = int(input("x = "))

if x<-2 or x>2:
    print(2*x)
else:
    print(-3*x)

x = 3
6

In [10]:
#if 26

x = int(input("x = "))

if x<=0:
    print(-x)
if 0<x<2:
    print(x**2)
if x>=2:
    print(4)

x = -3
3

In [14]:
#if 27

x = int(float(input("x = ")))

if x<0:
    print(0)
if x%2==0:
    print(1)
if x%2==1:
    print(-1)

x = 0.785
1

In [15]:
#if 27.1

x = int(float(input("x = ")))

if x<0:
    print(0)
elif x%2==0:
    print(1)
else:
    [print(-1)]

x = 0.87654
1

In [8]:
#if 28 

yil = int(input("yil = "))

kabisa = False

if yil%4==0:
    print(True)
if yil%100==0 and yil%400!=0:
    kabisa = False
if kabisa:
    print("Kabisa yili")
else:
    print("Kabisa yili emas")

yil = 5678
Kabisa yili emas

In [4]:
#if 29

a = int(input("a = "))

if a%2==1 and a>0:
    print(musbat toq son)
if a%2==0 and a<0:
    print(manfiy juft son)
if a==0:
    print(son nolga teng)

SyntaxError: invalid syntax (613741886.py, line 6)

In [ ]:
#if 30

N = int(input("N = "))

In [10]:
#if junior

a = int(input("a = "))
onlik=a//10
birlik=a%10

if onlik==1:
    print("o'n", end=" ")
if onlik==2:
    print("yigirma", end =" ")
if onlik==3:
    print("o'ttiz", end = " ")
if onlik==4:
    print("qirq", end = " ")
if onlik==5:
    print("ellik", end = " ")
if onlik==6:
    print("oltimish",end =" ")
if onlik==7:
    print("yetmish",end=" ")
if onlik==8:
    print("sakson", end= " ")
if onlik==9:
    print("to'qson",end= " ")
if birlik==1:
    print("bir")
if birlik==2:
    print("ikki")
if birlik==3:
    print("uch")
if birlik==4:
    print("to'rt")
if birlik==5:
    print("besh")
if birlik==6:
    print("olti")
if birlik==7:
    print("yetti")
if birlik==8:
    print("sakkiz")
if birlik==9:
    print("to'qqiz")
if a==0:
    print(0)

a = 34
o'ttiz to'rt