In [2]:
#1 for

k = int(input("k = "))
n = int(input("n = "))

for i in range(n):
    print(k)

k = 5
n = 4
5
5
5
5

In [32]:
#2 for

a = int(input("a = "))
b = int(input("b = "))
if a<b:
    for i in range(a,b+1):
        print(i, end=" ")

a = 4
b = 9
4 5 6 7 8 9

In [19]:
#3 for

a = int(input("a = "))
b = int(input("b = "))

if a<b:
    for i in range(b-1,a,-1):
        print(i, end=" ")

a = 23
b = 56
55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24

In [5]:
#4 for

a = int(input("a_so'm = "))

for i in range(1,11):
    print(i*a)

a_so'm = 2000
2000
4000
6000
8000
10000
12000
14000
16000
18000
20000

In [6]:
#5 for

a = int(input("a_so'm = "))

for i in range(1,11):
    print(a*i/10)

a_so'm = 3000
300.0
600.0
900.0
1200.0
1500.0
1800.0
2100.0
2400.0
2700.0
3000.0

In [7]:
#6 for 

a = int(input("a_so'm = "))

for i in range(12,22,2):
    print(a*i/10)

a_so'm = 2000
2400.0
2800.0
3200.0
3600.0
4000.0

In [8]:
#7 for 

a = int(input("a = "))
b = int(input("b = "))

S = 0

if a<b:
    for i in range(a,b+1):
        S+=i
print(S)

a = 2
b = 5
14

In [10]:
#8 for 

a = int(input("a = "))
b = int(input("b = "))

P = 1

for i in range(a,b+1):
    P*=i
print(P)

a = 2
b = 4
24

In [11]:
#9 for  k

a = int(input("a = "))
b = int(input("b = "))

S = 0

for i in range(a,b+1):
    S+=i**2
print(S)

a = 2
b = 5
54

In [20]:
#10 for

n = int(input("n = "))

S = 0

for i in range(1,n+1):
    S+=1/i
print(S)

n = 5
2.283333333333333

In [16]:
#11 for

n = int(input("n = "))

S = 0

for i in range(n,2*n):
    S+=i**2
print(S)

n = 3
50

In [21]:
#12 for

n = int(input("n = "))

P = 1

for i in range(11,10*n):
    P*=i/10
print(P)

n = 5
1.6762617505353498e+17

In [27]:
#13 for 

n = int(input("n = "))

S = 0

for i in range(11,10*n+1):
    S+=(-1)**(i+1)*i/10
print(S)

n = 25
-12.0

In [28]:
#13 for 2-u

n = int(input("n = "))

S = 0
a = 1

for i in range(11,10*n+1):
    S+=a*i/10
    a *= -1
print(S)

n = 25
-12.0

In [29]:
#14 for

n = int(input("n = "))

for i in range(1, 2*n,2):
    n = i**2
print(n)

n = 5
81

In [33]:
#15 for 

n = int(input("n = "))
a = int(input("a = "))

P = 1

for i in range(1,n+1):
    P*=a
print(P)

n = 3
a = 4
64

In [34]:
#16 for

n = int(input("n = "))
a = float(input("a = "))

P = 1

for i in range(1,n+1):
    P*=a
    print(P)

n = 3
a = 6
6.0
36.0
216.0

In [36]:
#17 for

n = int(input("n = "))
a = int(input("a = "))

P=1
S=1

for i in range(1,n+1):
    P*=a
    S+=P
print(S)

n = 4
a = 5
781

In [37]:
#18 for

n = int(input("n = "))
a = int(input("a = "))

P = 1
S = 1

for i in range(1,n+1):
    P*=a
    S+=(-1)**(i)*P
print(S)

n = 4
a = 5
521

In [38]:
#19 for

n = int(input("n = "))

P = 1

for i in range(1,n+1):
    P*=i
print(P)

n = 4
24

In [39]:
#20 for 

n = int(input("n = "))

S = 0
P = 1

for i in range(1,n+1):
    P*=i
    S+=P
print(S)

n = 4
33

In [40]:
#21 for

n = int(input("n = "))

P = 1
S = 0

for i in range(1,n+1):
    P*=i
    S+=1/i
print(S)

n = 3
1.8333333333333333

In [41]:
#22 for

n = int(input("n = "))
x = int(input("x = "))

F = 1
S = 1
daraja = 1

for i in range(1,n+1):
    F*=i
    daraja*=x
    S = daraja/F
print(S)

n = 4
x = 3
3.375

In [63]:
#23 for

n = int(input("n = "))
x = int(input("x = "))

S = 1
f = 1
ishora = -1

for i in range(3,2*n+1,2):
    f*=i*(i-1)
    S+=ishora*x**i/f
    ishora=-1
print(S)

n = 4
x = 3
-5.958928571428572

In [50]:
from math import sin
sin(x)

0.9092974268256817

In [61]:
#24 for

n = int(input("n = "))
x = int(input("x = "))

S = 1
P = 1

for i in range(2,2*n+1,2):
    P*=i*(i-1)
    S+=x**i/P*ishora
    ishora = -1
print(S)

n = 5
x = 4
-25.26991181657848

In [62]:
#25 for

n = int(input("n = "))
x = int(input("x = "))

if n>0 and abs(x)<1:
    for i in range(1,n+1):
        S+=x**i*(-1)**(i+1)/i
        
print(S)

n = 5
x = 4
-25.26991181657848

In [4]:
#25 for

n = int(input("n = "))
x = float(input("x = "))

S=0

if n>0 and abs(x)<1:
    for i in range(1,n+1):
        S+=x**i*(-1)**(i+1)/i
        
print(S)

n = 3
x = 0.5
0.4166666666666667

In [9]:
#26 for

n = int(input("n = "))
x = float(input("x = "))

S = x
ishora = -1

if n>0 and abs(x)<1:
    for i in range(3,2*n+1,2):
        S+=x**i*ishora/i
        ishora*=-1
print(S)

n = 3
x = 0.5
0.4645833333333333

In [ ]:
#27 for

n = int(input("n = "))
x = float(input("x = "))

S = x
tepasi = 1
pasti = 1

if n>0 and abs(x)<0:
    for i in range()

In [6]:
#28 for

n = int(input("n = "))
x = float(input("x = "))

p1 = 1
p2 = 2
S = 1

for i in range(1, n+1):
    S +=(-1)**(i+1)*x*i*p1/p2
    p1 *= i*(i-1)
    p2 *= i*(i+1)
print(S)

n = 5
x = 3
2.5

In [7]:
#29 for

n = int(input("n = "))
A = int(input("A = "))
B = int(input("B = "))

print((A-B)/n)

n = 3
A = 9
B = 7
0.6666666666666666

In [1]:
#30 for

n = int(input("n = "))
A = int(input("A = "))
B = int(input("B = "))

for i in range(n):
    Fn=1-sin(n)
print(Fn)

n = 5
A = 4
B = 3

NameError: name 'sin' is not defined

In [6]:
#31 for
A0 = 2
A1 = 2.5

n = int(input("n = "))
for i in range(n):
    A2 = 2+1/A1
    A0=A1
    A1=A2
    print(A2)

n = 7
2.4
2.4166666666666665
2.413793103448276
2.414285714285714
2.4142011834319526
2.4142156862745097
2.414213197969543

In [7]:
#34 for 

A1 = 1
A2 = 2

n = int(input("n = "))

for i in range(n):
    An = (A0+2*A1)/3
    A1 = A2
    A2 = An
    print(An)

n = 5
1.4714052287581698
2.1380718954248366
1.7856753812636164
2.2301198257080608
1.9951888162672475

In [10]:
#35 for

A1 = 1
A2 = 2
A3 = 3

n = int(input("n = "))

for i in range(4, n+1):
    An = A3+A2-2*A1
    A1 = A2
    A2 = A3
    A3 = An
    print(An)

n = 5
3
2

In [18]:
#36 for 

n = int(input("n = "))
K = int(input("K = "))

S = 0

for i in range(n):
    S+=n**i
print(S)

n = 3
K = 3
13

In [20]:
#37 for

n = int(input("n = "))

S = 0

for i in range(1, n+1):
    S+=i**i
print(S)

n = 3
32

In [22]:
#38 for 

n = int(input("n = "))

S = 0

for i in range(1, n+1):
    S+=i**(n-i+1)
print(S)

n = 5
65

In [25]:
#39 for 

A = int(input("A = "))
B = int(input("B = "))

for i in range(A, B+1):
    for j in range(i):
        print(i, end=" ")

A = 3
B = 6
3 3 3 4 4 4 4 5 5 5 5 5 6 6 6 6 6 6

In [31]:
#40 for 

A = int(input("A = "))
B = int(input("B = "))

for i in range(A, B+1):
    for j in range(i-A+1):
        print(i, end=" ")

A = 3
B = 7
3 4 4 5 5 5 6 6 6 6 7 7 7 7 7

In [37]:
for boshqa

0 1 2 3 4 
1 0 1 2 3 
2 1 0 1 2 
3 2 1 0 1 
4 3 2 1 0

SyntaxError: invalid syntax (152053864.py, line 1)

In [40]:
#yechim

n = int(input("n = "))

for i in range(n):
    for j in range(i,0,-1):
        print(j,end=" ")
    for j in range(0,n-i):
        print(j, end=" ")
    print()

n = 25
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12 13
12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11 12
13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10 11
14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9 10
15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9
16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8
17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7
18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6
19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4 5
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3 4
21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2 3
22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1 2
23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 1
24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [42]:
#for boshqa

k = int(input("k = "))
n = int(input("n = "))

S = 0

for i in range(1, n+1):
    S+=i/k**5
print(S)

k = 3
n = 4
0.0411522633744856

In [44]:
#for boshqa 2

n = int(input("n = "))
x = int(input("x = "))

P = 1
S = 0

for i in range(1, n+1):
    P *= i
    S += 1/P+(x)**0.5
    
print(S)

n = 5
x = 4
11.716666666666665

In [47]:
# sonni bo'luvchilarni topish

N = int(input("N = "))

for i in range(1, N+1):
    if N%i==0:
        print(i, end=" ")

N = 24
1 2 3 4 6 8 12 24

In [53]:
N = int(input("N = "))
S = 0

for i in range(1, N+1):
    if N%i==0:
        S+=i
print(S)

N = 4
7

In [57]:
# mukammal son yoki mukammal son emasligi

n = int(input("n = "))

S = 0

for i in range(1, n):
    if n%i==0:
        S+=i
if S==n:
    print("mukammal son")
else:
    print("mukammal emass")

n = 34
mukammal emass

In [73]:
# 1 dan N gacha mukammal sonlarni chiqaradigan dastur yozing
n = int(input("n = "))

for i in range (1, n+1):
    S = 0
    for j in range(1,i):
        
        
        if i%j==0:
            S+=j
    if S==i:
        print(i,end=" ")
    print("S = ", S)

n = 100
S =  0
S =  1
S =  1
S =  3
S =  1
6 S =  6
S =  1
S =  7
S =  4
S =  8
S =  1
S =  16
S =  1
S =  10
S =  9
S =  15
S =  1
S =  21
S =  1
S =  22
S =  11
S =  14
S =  1
S =  36
S =  6
S =  16
S =  13
28 S =  28
S =  1
S =  42
S =  1
S =  31
S =  15
S =  20
S =  13
S =  55
S =  1
S =  22
S =  17
S =  50
S =  1
S =  54
S =  1
S =  40
S =  33
S =  26
S =  1
S =  76
S =  8
S =  43
S =  21
S =  46
S =  1
S =  66
S =  17
S =  64
S =  23
S =  32
S =  1
S =  108
S =  1
S =  34
S =  41
S =  63
S =  19
S =  78
S =  1
S =  58
S =  27
S =  74
S =  1
S =  123
S =  1
S =  40
S =  49
S =  64
S =  19
S =  90
S =  1
S =  106
S =  40
S =  44
S =  1
S =  140
S =  23
S =  46
S =  33
S =  92
S =  1
S =  144
S =  21
S =  76
S =  35
S =  50
S =  25
S =  156
S =  1
S =  73
S =  57
S =  117